<div style="background-color: #E5ECF4; min-height: 93vh;;">
    <div class="container" style="padding: 2rem;">
        <p class="actual-page">Home / Patients / Medical History / {{ patientData.firstname }} {{ patientData.lastname
            }}</p>
        <div class="patient-info-container">
            <mat-card class="patient-card">
                <mat-card-title class="mb-3">
                    <h2>{{ patientData.firstname }} {{ patientData.lastname }}</h2>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content class="mt-5">

                    <div class="row">
                        <div class="col">
                            <h3>Phone number</h3>
                            <div class="h3-border"></div>
                            <p>{{ patientData.phoneNumber }}</p>
                        </div>
                        <div class="col">
                            <h3>Gender</h3>
                            <div class="h3-border"></div>
                            <p>{{ patientData.gender }}</p>
                        </div>
                        <div class="col">
                            <h3>Day of registration</h3>
                            <div class="h3-border"></div>
                            <p>{{ patientData.dateCreated | date: 'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="add-medical-history-container">
            <button mat-raised-button (click)="openDialog()">New Medical History</button>
        </div>
        <hr>
        <div class="medical-history-list">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Age</th>
                    <td mat-cell *matCellDef="let element">{{ element['age'] }}</td>
                </ng-container>
                <ng-container matColumnDef="timePeriod">
                    <th mat-header-cell *matHeaderCellDef>Time Period</th>
                    <td mat-cell *matCellDef="let element">{{ element['timePeriod'] }}</td>
                </ng-container>
                <ng-container matColumnDef="heigth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by heigth">Heigth (cm)</th>
                    <td mat-cell *matCellDef="let element">{{ element['height'] }}</td>
                </ng-container>
                <ng-container matColumnDef="weigth"  >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weigth">Weigth (kg)</th>
                    <td mat-cell *matCellDef="let element">{{ element['weight'] }}</td>
                </ng-container>
                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef>Observations</th>
                    <td mat-cell *matCellDef="let element">{{ element['details'] }}</td>
                </ng-container>
                <ng-container matColumnDef="prescribedMedication">
                    <th mat-header-cell *matHeaderCellDef>Prescribed Medication</th>
                    <td mat-cell *matCellDef="let element">{{ element['prescribedMedication'] }}</td>
                </ng-container>
                <ng-container matColumnDef="dateCreated">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Date</th>
                    <td mat-cell *matCellDef="let element">{{ element['dateCreated'] | date:' dd/MM/yyyy' }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
</div>