<div class="bg-container">
    <div class="row login-container">
        <div class="col first">
        </div>
        <div class="col second">
            <div class="form-container">
                <h2>Register</h2>
                <p>Thanks for choosing DocApp!</p>
               <div class="form-body">
                <form autocomplete="off" class="text-center">
                    <mat-form-field appearance="outline" class="login-form">
                        <mat-label>Username</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="login-form">
                        <mat-label>Email</mat-label>
                        <input matInput type="email">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="login-form">
                        <mat-label>Identity document</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="login-form">
                        <mat-label>Password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="login-form">
                        <mat-label>Confirm the password</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <button mat-raised-button>Register</button>
                    
                </form>
                <h5>Already have an account? <a routerLink = "/home/login">Login now</a></h5>
               </div>
            </div>
        </div>
        
    </div>
</div>