<div style="background-color: #E5ECF4; min-height: 93vh;">
    <div class="container">
        <div class="container-dashboard">
            <p class="actual-page">Home / Dashboard</p>
            <h2 class="container-title">Hi <span>{{ firstname }}</span>, welcome back!</h2>
            <div class="row mb-4">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 col-center">
                                    <i class="fas fa-moon icon-mood"></i>
                                </div>
                                <div class="col-md-8">
                                    <mat-card-subtitle class="card-subtitle">100</mat-card-subtitle>
                                    <mat-card-title>Lorem ipsum</mat-card-title>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 col-center">
                                    <i class="fas fa-moon icon-mood"></i>
                                </div>
                                <div class="col-md-8">
                                    <mat-card-subtitle class="card-subtitle">100</mat-card-subtitle>
                                    <mat-card-title>Lorem ipsum</mat-card-title>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 col-center">
                                    <i class="fas fa-moon icon-mood"></i>
                                </div>
                                <div class="col-md-8">
                                    <mat-card-subtitle class="card-subtitle">100</mat-card-subtitle>
                                    <mat-card-title>Lorem ipsum</mat-card-title>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 col-center">
                                    <i class="fas fa-moon icon-mood"></i>
                                </div>
                                <div class="col-md-8">
                                    <mat-card-subtitle class="card-subtitle">100</mat-card-subtitle>
                                    <mat-card-title>Lorem ipsum</mat-card-title>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-title class="chart-title">Pacients Gender</mat-card-title>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-title class="chart-title">Pacients Age</mat-card-title>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

