<div style="background-color: #E5ECF4; min-height: 93vh;">
    <div class="container">
        <div style="padding: 2rem;">
            <mat-card>
                <mat-card-title class="text-center mb-4 mt-3">New Patient</mat-card-title>
                <mat-card-content>
                    <form autocomplete="off" class="text-center" [formGroup]="newPatient" (ngSubmit)="addPatient()">
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="newpatient-form">
                                    <mat-label>Firstname</mat-label>
                                    <input matInput type="text" formControlName="firstname">
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('firstname').hasError('required') && newPatient.get('firstname').touched">
                                        Firstname is required</mat-error>
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('firstname').hasError('minlength') && newPatient.get('firstname').touched">
                                        The first name must have a minimum of 3 characters</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline" class="newpatient-form">
                                    <mat-label>Lastname</mat-label>
                                    <input matInput type="text" formControlName="lastname">
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('lastname').hasError('required') && newPatient.get('lastname').touched">
                                        Lastname is required</mat-error>
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('lastname').hasError('minlength') && newPatient.get('lastname').touched">
                                        The last name must have a minimum of 3 characters</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="newpatient-form">
                                    <mat-label>Phone number</mat-label>
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <input matInput type="text" formControlName="phonenumber" pattern="^[0-9]*$">
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('phonenumber').hasError('required') && newPatient.get('phonenumber').touched">
                                        Phonenumber is required</mat-error>
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('phonenumber').hasError('pattern') && newPatient.get('phonenumber').touched">
                                        Enter only numbers</mat-error>
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('phonenumber').hasError('maxlength') && newPatient.get('phonenumber').touched">
                                        The phone number must have a maximum of 9 characters</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline" class="newpatient-form">
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender">
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                                    <mat-error class="patient-error"
                                        *ngIf="newPatient.get('gender').hasError('required') && newPatient.get('gender').touched">
                                        Gender is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-card-actions>
                            <button mat-raised-button type="submit" [disabled]="newPatient.invalid">Add patient</button>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </mat-card>
            <div class="back-btn-container">
                <button mat-raised-button routerLink="../patients" routerLinkActive="router-link-active" >Back</button>
            </div>
        </div>
    </div>
</div>