mat-card{
    font-family: 'Ubuntu', sans-serif !important;
    border-radius: 1rem;
}
.newpatient-form{
    width: 100%;
}
mat-card-actions button{
    background-color: #94B3FD;
    color: #fff;
    padding: 0rem 4rem;
}
.patient-error{
    color: #FF4848;
}
.back-btn-container{
    float: right;
    margin: 1.5rem 0;
}
.back-btn-container button{
    padding: 0 2rem;
    color: #fff;
    background-color: #94B3FD;
}