.profile-container{
    padding: 2rem;   
}
.profile-image{
    text-align: center;
    padding-bottom: 1rem;
}
.profile-name h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;   
}
mat-list-option:hover{
    color: #94B3FD;
    border-left: 2px solid #94B3FD;;
}
mat-list-option:active{
    color: #94B3FD;
    border-left: 2px solid #94B3FD;;
}
mat-list-option:focus{
    color: #94B3FD;
    border-left: 2px solid #94B3FD;;
}
