
.hero-container{
    min-height: 100vh;
    background-image: linear-gradient(360deg, #7289fc 0, #6788ff 45%, #3673ee 100%);
    /* background: linear-gradient(to bottom,  #6788FF 90%, #FFFFFF ); */
}
.hero-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}
.hero-text{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
}
.hero-title{
    font-weight: 500;
    font-size: 3rem;
    padding: 1.5rem 0;
    line-height: 1.15;
}
.hero-subtitle{
    font-size: 1.25rem;
    font-weight: 300;
}
.hero-button{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.15rem;
    font-weight: 400;
    margin: 1rem 0;
    padding: .25rem 2.5rem;
    color: #113CFC;
}
.hero-img{
    width: 100%;
}
.body-container{
    min-height: 100vh;
    padding: 6rem 0;
    background-color: #FBFCFF;
}
.body-text-presentation{
    font-family: 'Ubuntu', sans-serif;
    padding: 2.5rem 12rem;
}
.body-text-presentation span{
    font-size: 1rem;
    letter-spacing: 1.5px;
    
}
.body-text-presentation h2{
    font-size: 3rem;
    line-height: 1;
    margin: 2rem 0;
}
.border-icon{
    border-bottom: 2px solid #113CFC;
    width: 6rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-top: .5rem;
}
.body-text-presentation p{
    padding: 0 6rem;
    font-size: 1.15rem;
}
.about-card{
    width: 30rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: .75rem;
}
.about-card-title{
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.about-card-description{
    font-size: 1.2rem;
    font-weight: 300;
}

.container-about{
    background-color: #6788FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='593' height='494.2' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    min-height: 100vh;
    padding: 6rem 0;
}
.mmm{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.mmm-text{
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}
.mmm-title{
    color: #FFF;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid #94B3FD;
}
.container-footer{
    background-color: #FBFCFF;
    min-height: 45vh;
    padding: 2.5rem 0;
}
.brand-group{
    align-items: center;
    text-align: center;
}
.footer-brandName{
    font-size: 1.5rem;
}
.footer-icon{
    font-size: 1.5rem;
    color: #7289fc;
    margin: 0 5px;
}
.menu-group{
    font-family: 'Ubuntu', sans-serif;
}
.menu-group .row .col-sm-4 h4{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}
.list-nav{
    padding-left: 1.5rem;
}
.contact-container{
    padding: 1rem;
}
.social-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
.footer-social-icon{
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin: 0 .3rem;
    color: #FBFCFF;
    background-color: #7289fc;
    padding: .75rem;
    border-radius: 50%;
    cursor: pointer;
}
.contact-form{
    text-align: center;
    padding: 1rem;
}
.contact-form p{
    font-size: 1rem;
}
@media(max-width: 375px){
    .hero-row{
        padding: 3rem 0;
        text-align: center;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-subtitle{
        font-size: 1.1rem;
    }
    .body-text-presentation{
        padding: 0;
    }
    .body-text-presentation h2{
        padding: 0 1rem;
        font-size: 2rem;
    }
    .body-text-presentation p{
        padding: 0 1rem;
        font-size: 1.15rem;
    }
    /* .margin-r{
    } */
    .about-card{
        width: 20rem;
        text-align: center;
    }

    .about-card-title{
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 1.5rem;
    }
    .about-card-description{
        font-size: 1rem;
        font-weight: 300;
    }
    .mmm{
        display: initial;
        text-align: center;
    }
    .mmm-title{
        font-size: 1.5rem;
    }
    .mmm-text{
        font-size: 1rem;
    }
}