<div class="hero-container">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="row hero-row">
            <div class="col-sm-6">
                <h2 class="hero-text hero-title">Organize your medical office in a simple and fast way.</h2>
                <p class="hero-text hero-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                    deserunt
                    ducimus impedit sunt delectus
                    voluptatum, pariatur obcaecati velit expedita dolorum</p>
                <button class="hero-button" mat-raised-button>More info</button>
            </div>
            <div class="col">
                <img class="hero-img" src="https://i.imgur.com/0RwLKZx.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container body-container">
    <div class="body-text-presentation text-center">
        <span>Innovative App</span>
        <div class="border-icon"></div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p> At, quasi ipsa sunt quam dolor dicta expedita suscipit inventore totam voluptatem voluptate saepe unde ullam
            consectetur accusantium tenetur temporibus sed necessitatibus!</p>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-5">
            <mat-card class="about-card">
                <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
            </mat-card>
        </div>
        <div class="col-auto ">
            <mat-card class="about-card">
                <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-5">
            <mat-card class="about-card">
                <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
            </mat-card>
        </div>
        <div class="col-auto ">
            <mat-card class="about-card">
                <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-5">
            <mat-card class="about-card">
                <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
            </mat-card>
        </div>
        <div class="col-auto ">
            <mat-card class="about-card">
                <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="container-footer">
    <div class="container">
        <div class="row ">
            <div class="col">
                <span class="material-icons footer-icon"> local_hospital </span>
                <span class="a">DocApp</span>
            </div>
            <div class="col-auto d-flex">
                <span class="material-icons footer-icon"> email </span>
                <span class="material-icons footer-icon"> live_help </span>
            </div>
        </div>
    </div>
</div>