<div class="hero-container">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="row hero-row">
            <div class="col-sm-6">
                <h2 class="hero-text hero-title">Organize your medical office in a simple and fast way.</h2>
                <p class="hero-text hero-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                    deserunt
                    ducimus impedit sunt delectus
                    voluptatum, pariatur obcaecati velit expedita dolorum</p>
                <button class="hero-button" mat-raised-button  routerLink="/home/login">More info</button>
            </div>
            <div class="col">
                <img class="hero-img" src="https://i.imgur.com/0RwLKZx.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container body-container">
    <div class="body-text-presentation text-center">
        <span>Innovative App</span>
        <div class="border-icon"></div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p> At, quasi ipsa sunt quam dolor dicta expedita suscipit inventore totam voluptatem voluptate saepe unde ullam
            consectetur accusantium tenetur temporibus sed necessitatibus!</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 ">
                <mat-card class="about-card">
                    <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                    <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-5 ">
                <mat-card class="about-card">
                    <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                    <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-5 ">
                <mat-card class="about-card">
                    <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                    <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-5 ">
                <mat-card class="about-card">
                    <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                    <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-5 ">
                <mat-card class="about-card">
                    <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                    <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-5 ">
                <mat-card class="about-card">
                    <mat-card-title class="about-card-title"> {{ cardTitle }} </mat-card-title>
                    <mat-card-content class="about-card-description"> {{ cardDescription }} </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
    
<div class="container-about">
    <div class="container">
        <div class="row featurette justify-content-md-center mmm">
            <div class="col-sm-5">
                <h2 class="featurette-heading mmm-title">{{ cardTitle }} </h2>
                <p class="mmm-text">{{ cardDescription }}</p>
            </div>
            <div class="col-md-5">
                <img src="https://i.imgur.com/L5kKWIG.png"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>

        <div class="row featurette justify-content-md-center mmm">
            <div class="col-sm-5 order-md-2">
                <h2 class="featurette-heading mmm-title">{{ cardTitle }} </h2>
                <p class="mmm-text">{{ cardDescription }}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://i.imgur.com/L5kKWIG.png"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>

        <div class="row featurette justify-content-md-center mmm">
            <div class="col-sm-5">
                <h2 class="featurette-heading mmm-title">{{ cardTitle }} </h2>
                <p class="mmm-text">{{ cardDescription }}</p>
            </div>
            <div class="col-md-5">
                <img src="https://i.imgur.com/L5kKWIG.png"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">

            </div>
        </div>
    </div>
</div>
<div class="container-footer">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <div class="brand-group text-center">
                    <i class="fas fa-hospital footer-icon"></i>
                    <span class="footer-brandName">DocApp</span>
                </div>
                <div class="contact-container">
                    <h4 class="text-center social-title">Connect with us</h4>
                    <div class="social-network-group text-center mt-2">
                        <i class="fab fa-facebook-f footer-social-icon"></i>
                        <i class="fab fa-twitter footer-social-icon"></i>
                        <i class="far fa-envelope footer-social-icon"></i>
                        <i class="fas fa-phone footer-social-icon"></i>
                    </div>
                    <div class="contact-form">
                        <p>Subscribe to our newsletter to get news updates.</p>
                        <form autocomplete="off">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Ex. name@domain.com">
                            </mat-form-field>
                            <button mat-raised-button style="width:100%; letter-spacing: 3px;">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>